.vscode/**
nimsuggest/**
typings/**
out/test/**
test/**
src/**
**/*.map
*.db
.gitignore
tsconfig.json

node_modules/.bin/**
node_modules/gulp*/**
node_modules/vsce/**
node_modules/mocha/**
node_modules/tslint/**
node_modules/typescript/**
node_modules/vscode/**
